<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="description" content="New web page">
      <meta name="keyword" content="keyword">
      <meta name="lenguage" content="ES">
      <meta name="author" content="exdesy.design@gmail.com">
      <meta name="robots" content="index.follow">
      <meta name="revised" content="Day, Month, Date, Year, Time">
      <meta name="vierport" content="width=device=width, initial scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="IE-edge, chrome1">

      <title>HOME</title>
      <link rel="shortcut icon" href="resources/lib/img/logo.ico">
      <!-- ------------------------------  LIBRARY  ------------------------------ -->

      <!-- ------------------------------  STYLES  ------------------------------ -->
      <link href="resources/css/index.css" rel="stylesheet" type="text/css"/>
      <link href="resources/css/home.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
      <div class="wrapper">
        <header class="header">
          <div class="header-title">
            <a class="title-img" href="/home"><img src="resources/lib/img/logo.png"/></a>
            <h1 class="title-text">GENERICS <span>Gestion Generica</span></h1>
          </div>
          <nav class="header-nav">
            <div class="nav-menu">
              <a class="menu-text" href="/user">USER</a></li>
            </div>
          </nav>
        </header>
        <div class="content">
            <main>
              
            </main>
            <footer>
            </footer>
        </div>
      </div>
  </body>
</html>