<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="New web page" />
    <meta name="keyword" content="keyword" />
    <meta name="lenguage" content="ES" />
    <meta name="author" content="exdesy.design@gmail.com" />
    <meta name="robots" content="index.follow" />
    <meta name="revised" content="Day, Month, Date, Year, Time" />
    <meta name="vierport" content="width=device=width, initial scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge, chrome1" />

    <title>USER</title>
    <link rel="shortcut icon" href="resources/lib/img/logo.ico" />
    <!-- -----------------------------  LIBRARY  ----------------------------- -->

    <!-- -----------------------------  STYLES  ----------------------------- -->
    <link href="resources/css/index.css" rel="stylesheet" type="text/css" />
    <link href="resources/css/crud.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  </head>
  <body onload="showContent('prove')">
    <div class="wrapper">
      <header class="header">
        <div class="header-title">
          <a class="title-img" href="/home"><img src="resources/lib/img/logo.png"/></a>
          <h1 class="title-text">GENERICS <span>Gestion Generica</span></h1>
        </div>
        <nav class="header-nav">
          <div class="nav-menu">
            <a class="menu-text" href="/home">INICIO</a></li>
          </div>
        </nav>
      </header>
      <div class="container">
        <div class="form-menu">
          <div class="form-menu-nav">
            <a class="form-menu-nav-text" onclick="showContent('prove')">APROBAR</a></li>
            <a class="form-menu-nav-text" onclick="showContent('create')">CREAR</a></li>
            <a class="form-menu-nav-text" onclick="showContent('consult')">CONSULTAR</a></li>
            <a class="form-menu-nav-text" onclick="showContent('edit')">MODIFICAR</a></li>
            <a class="form-menu-nav-text" onclick="showContent('delete')">ELIMINAR</a></li>
          </div>  
        </div>
        <main>
          <div class="form-container" id="formContent">

          </div>
          <div class="data"></div>
          <div id="toastBox"></div>
        </main>
      </div>
      <footer>
      </footer>
    </div>
    <script src="/resources/js/user.js"></script>
    <script src="https://kit.fontawesome.com/dc427c2d29.js" crossorigin="anonymous"></script>
  </body>
</html>
